/**This is roar styles for all layout and styling elements**/

/**mixins**/

@mixin info() {

		.heading {
			/*font-family: "ff-meta-serif-web-pro", 'helvetica', sans-serif;*/
			font-style: normal;
			font-weight: 900;
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		.skills {
			margin-bottom: 50px;
		}
}


/**mixins end**/

/**global styles**/
html {
	height: auto;
}

body {
	background-color: #efefef;
	font-size: 100%;
	height: auto;

	p {
		font-weight: 400;
		font-size: 14px;
		font-family: "ff-meta-serif-web-pro", 'helvetica', sans-serif;
	}

	h1, h2 {
		/*font-family: "ff-meta-serif-web-pro", 'helvetica', sans-serif;*/
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	h1 {
		font-size: 2.8rem;
		padding-left: 2.8%;
		padding-top: 60px;
		font-weight: 900;
		letter-spacing: 5px;
	}
}

.button {
	/*font-family: "ff-meta-serif-web-pro", 'helvetica', sans-serif;*/
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.stuck {
  position:fixed;
  top:0;
}
/**end global styles**/


/**aside element**/
#roarLeftColumn {
	background-color: #111111;
	width: 22%; /*270px*/
	left: 0px;
	height: 90%;
	min-height: 90%;
	position: absolute;
	color: white;

	p {
		font-weight: 100;
		font-family: "ff-meta-serif-web-pro", 'helvetica', sans-serif;
	}

	#uproarsticker {

		.textWrapper {
			padding: 12% 12% 0%;
		}

		#logoHook {
			height: 0px;
			overflow: hidden;
		
			.uproarLogo {
				display: block;

				img {
					display: block;
					width: 35px;
					margin: 15px auto 30px;
					float: left;
				}
				#roarTitle {
					/*font-family: "ff-meta-serif-web-pro", 'helvetica', sans-serif;*/
					font-size: 22px;
					font-weight: 900;
					color: white;
					float: left;
					padding: 8% 12% 8%;
					color: black;
					letter-spacing: 2px;
					width: 100%;
					background-color: white;
					/*margin-left: 10px;*/
				}
			}

		}
	}

	.button {
		width: 100%;
		margin-top: 20px;
	}
}
/**end aside element**/


/**header element**/
#roarHeader {
	background-color: white;
	height: 150px;

	img {
		margin: 5% auto;
		display: block;
	}
}
/**end header element**/


/**body element**/
#roarBody {
	padding: 5% 0px 0px 21%;

	.heading {
		margin-top: 20%;
		font-weight: 600;
		font-family: "effra",sans-serif;
		text-transform: uppercase;
	}


	.roarOverlay {
		position: absolute;
		width: 94.7%;
		height: 100%;
		background-color: rgba(0,0,0,0.9);
		opacity: 0;
		z-index: 8;
	}

	.hoverOverlay {
		position: absolute;
		width: 95%;
		height: 100%;
		background-color: transparent;
		z-index: 10;

		.viewBtn {
			margin-top: 37%;
		}

		.viewIcon {
			background: transparent url(../img/view_icon.png) center center no-repeat;
			display: block;
			margin: auto;
			height: 23px;
			width: 23px;
			margin-bottom: 10px;
			opacity: 0;
		}

		a {
			/*font-family: "ff-meta-serif-web-pro", 'georgia', sans-serif;*/
			font-style: normal;
			font-weight: 700;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: white;
			margin: auto;
			text-align: center;
			width: 100%;
			display: block;
			opacity: 0;
		}
	}

	.panel {
		background-color: white;
		border: none;
		height: 370px;
		padding: 0px;
		margin-bottom: 30px;

		.titleContainer {

			position: absolute;
			margin: 5% 6%;
			z-index: 9;

			.floatTitle {
				text-transform: uppercase;
				/*font-family: "ff-meta-serif-web-pro", 'georgia', sans-serif;*/
				font-style: normal;
				font-weight: 900;
				background-color: black;
				color: white;
				padding: 13px 13px 10px 13px;
				float: left;

				&.projectName {
					font-size: 21px;
					font-weight: 300;
					letter-spacing: 3px;
				}

				&.clientName {
					font-size: 17px;
					font-weight: 900;
				}
			}

		}


		.imageContainer {
			cursor: pointer;
			overflow: hidden;
			height: 370px;
			background: url('http://www.placecage.com/g/600/900') 50% 0 repeat fixed;

			background-size: 80%;
			background-position-x: 110%;

			&.proj1 {
				background-image: url(../img/screenshots/rpgparty.jpg);
			}

			&.proj2 {
				background-image: url(../img/screenshots/fitz.jpg);
			}

			&.proj3 {
				background-image: url(../img/screenshots/cod_history.jpg);
			}

			&.proj4 {
				background-image: url(../img/screenshots/injustice.jpg);
			}

			&.proj5 {
				background-image: url(../img/screenshots/twentytwentyone.jpg);
			}

			&.proj6 {
				background-image: url(../img/screenshots/evil.jpg);
			}

			&.proj7 {
				background-image: url(../img/screenshots/cloud_server-busy.jpg);
			}

			&.proj8 {
				background-image: url(../img/screenshots/siansplan.jpg);
			}
		}

		.large-4 {
			padding: 4% 7% 4% 3%; 
		}
	}
}
/**end body element**/

/**start footer**/
#roarFooter {
	background-color: #111;
	height: 350px;
	margin-top: 4%;
	padding: 6% 0px 0px 21%;

	p.roarFooterTitle {
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 900;
		color: white;
		letter-spacing: 2px;
		font-family: "effra",sans-serif;
	}

	ul {
		list-style: none;
		text-align: right;

		li {
			color: white;
			font-size: 13px;
			font-weight: 100;

			&.clearing {
				margin-top: 20px;
			}

			&.bolden {
				font-weight: 500;
				text-transform: uppercase;
			}

			&.uppercase {
				text-transform: uppercase;
				font-size: 13px;
			}
		}
	}

}



/**end footer**/

/**modal styles**/
.slick-list {
	height: 500px;
	min-height: 500px;
	overflow: hidden;
}
.reveal-modal.large, dialog.large {
	padding: 0px;
	border: none;
	height: 500px;

	.large-7 {
		padding-left: 0px;
	}

	@include info();

	.heading {
		margin-top: 20%;
		font-weight: 600;
		font-family: "effra",sans-serif;
	}

	.button {
		color: black;
		border-color: black;
	}

	.slick-dots {
		display: block;
		bottom: 0px;
		right: -103%;

		li {
			display: block;
		}
	}
}

/**end modal styles**/



/***********************/
/***responsive styles***/
/***********************/



// Small screens

@media only screen and (max-width: 40em) {

	#roarHeader {
		height: auto;

		img {
			width: 45%;
		}
	}


	#roarLeftColumn {
		width: 100%;
		position: relative;

		.button {
			display: none;
		}

		#logoHook {
			display: none;
		}

		p {
			text-align: center;
			padding: 3% 3% 2%;
		}
	}

	#roarBody {
		padding: 5% 4% 0%;

		.roarOverlay {
			width: 92.7%;
		}

		.panel {
			.large-4 {
				padding: 4% 4% 3%;

				.text-container {
					padding: 1% 3% 1%;
					background-color: white;
					margin-bottom: 5%;

					p {
						font-size: 13px;
					}
				}
			}

			.heading {
				margin-bottom: 6px;
			}

			.skills {
				margin-bottom: 25px;
			}

			.imageContainer {
				height: 200px;
				background-size: 200%;
			}
		}
	}



} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

	#roarBody {
		padding: 5% 0px 0px 0%;

		.panel {
			.imageContainer {
				background-size: 100%;
			}
		}
	}

	#roarLeftColumn {
		width: 100%;
		position: relative;
		padding: 2% 8% 0%;

		.button {
			display: none;
		}

		#logoHook {
			display: none;
		}

		p {
			text-align: center;
			padding: 3% 3% 2%;
		}
	}


} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


@media only screen and (max-width: 64.063em) {} /* min-width 1025px, large screens */

// Large screens
@media only screen and (min-width: 64.063em) {} /* min-width 1025px, large screens */