/**This is roar styles for all layout and styling elements**/
/**mixins**/
/**mixins end**/
/**global styles**/
/* line 25, ../scss/roar_styles.scss */
html {
  height: auto;
}

/* line 29, ../scss/roar_styles.scss */
body {
  background-color: #efefef;
  font-size: 100%;
  height: auto;
}
/* line 34, ../scss/roar_styles.scss */
body p {
  font-weight: 400;
  font-size: 14px;
  font-family: "ff-meta-serif-web-pro", 'helvetica', sans-serif;
}
/* line 40, ../scss/roar_styles.scss */
body h1, body h2 {
  /*font-family: "ff-meta-serif-web-pro", 'helvetica', sans-serif;*/
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 47, ../scss/roar_styles.scss */
body h1 {
  font-size: 2.8rem;
  padding-left: 2.8%;
  padding-top: 60px;
  font-weight: 900;
  letter-spacing: 5px;
}

/* line 56, ../scss/roar_styles.scss */
.button {
  /*font-family: "ff-meta-serif-web-pro", 'helvetica', sans-serif;*/
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 65, ../scss/roar_styles.scss */
.stuck {
  position: fixed;
  top: 0;
}

/**end global styles**/
/**aside element**/
/* line 73, ../scss/roar_styles.scss */
#roarLeftColumn {
  background-color: #111111;
  width: 22%;
  /*270px*/
  left: 0px;
  height: 90%;
  min-height: 90%;
  position: absolute;
  color: white;
}
/* line 82, ../scss/roar_styles.scss */
#roarLeftColumn p {
  font-weight: 100;
  font-family: "ff-meta-serif-web-pro", 'helvetica', sans-serif;
}
/* line 89, ../scss/roar_styles.scss */
#roarLeftColumn #uproarsticker .textWrapper {
  padding: 12% 12% 0%;
}
/* line 93, ../scss/roar_styles.scss */
#roarLeftColumn #uproarsticker #logoHook {
  height: 0px;
  overflow: hidden;
}
/* line 97, ../scss/roar_styles.scss */
#roarLeftColumn #uproarsticker #logoHook .uproarLogo {
  display: block;
}
/* line 100, ../scss/roar_styles.scss */
#roarLeftColumn #uproarsticker #logoHook .uproarLogo img {
  display: block;
  width: 35px;
  margin: 15px auto 30px;
  float: left;
}
/* line 106, ../scss/roar_styles.scss */
#roarLeftColumn #uproarsticker #logoHook .uproarLogo #roarTitle {
  /*font-family: "ff-meta-serif-web-pro", 'helvetica', sans-serif;*/
  font-size: 22px;
  font-weight: 900;
  color: white;
  float: left;
  padding: 8% 12% 8%;
  color: black;
  letter-spacing: 2px;
  width: 100%;
  background-color: white;
  /*margin-left: 10px;*/
}
/* line 124, ../scss/roar_styles.scss */
#roarLeftColumn .button {
  width: 100%;
  margin-top: 20px;
}

/**end aside element**/
/**header element**/
/* line 133, ../scss/roar_styles.scss */
#roarHeader {
  background-color: white;
  height: 150px;
}
/* line 137, ../scss/roar_styles.scss */
#roarHeader img {
  margin: 5% auto;
  display: block;
}

/**end header element**/
/**body element**/
/* line 146, ../scss/roar_styles.scss */
#roarBody {
  padding: 5% 0px 0px 21%;
}
/* line 149, ../scss/roar_styles.scss */
#roarBody .heading {
  margin-top: 20%;
  font-weight: 600;
  font-family: "effra",sans-serif;
  text-transform: uppercase;
}
/* line 157, ../scss/roar_styles.scss */
#roarBody .roarOverlay {
  position: absolute;
  width: 94.7%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  z-index: 8;
}
/* line 166, ../scss/roar_styles.scss */
#roarBody .hoverOverlay {
  position: absolute;
  width: 95%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
}
/* line 173, ../scss/roar_styles.scss */
#roarBody .hoverOverlay .viewBtn {
  margin-top: 37%;
}
/* line 177, ../scss/roar_styles.scss */
#roarBody .hoverOverlay .viewIcon {
  background: transparent url(../img/view_icon.png) center center no-repeat;
  display: block;
  margin: auto;
  height: 23px;
  width: 23px;
  margin-bottom: 10px;
  opacity: 0;
}
/* line 187, ../scss/roar_styles.scss */
#roarBody .hoverOverlay a {
  /*font-family: "ff-meta-serif-web-pro", 'georgia', sans-serif;*/
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  margin: auto;
  text-align: center;
  width: 100%;
  display: block;
  opacity: 0;
}
/* line 203, ../scss/roar_styles.scss */
#roarBody .panel {
  background-color: white;
  border: none;
  height: 370px;
  padding: 0px;
  margin-bottom: 30px;
}
/* line 210, ../scss/roar_styles.scss */
#roarBody .panel .titleContainer {
  position: absolute;
  margin: 5% 6%;
  z-index: 9;
}
/* line 216, ../scss/roar_styles.scss */
#roarBody .panel .titleContainer .floatTitle {
  text-transform: uppercase;
  /*font-family: "ff-meta-serif-web-pro", 'georgia', sans-serif;*/
  font-style: normal;
  font-weight: 900;
  background-color: black;
  color: white;
  padding: 13px 13px 10px 13px;
  float: left;
}
/* line 226, ../scss/roar_styles.scss */
#roarBody .panel .titleContainer .floatTitle.projectName {
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 3px;
}
/* line 232, ../scss/roar_styles.scss */
#roarBody .panel .titleContainer .floatTitle.clientName {
  font-size: 17px;
  font-weight: 900;
}
/* line 241, ../scss/roar_styles.scss */
#roarBody .panel .imageContainer {
  cursor: pointer;
  overflow: hidden;
  height: 370px;
  background: url("http://www.placecage.com/g/600/900") 50% 0 repeat fixed;
  background-size: 80%;
  background-position-x: 110%;
}
/* line 250, ../scss/roar_styles.scss */
#roarBody .panel .imageContainer.proj1 {
  background-image: url(../img/screenshots/rpgparty.jpg);
}
/* line 254, ../scss/roar_styles.scss */
#roarBody .panel .imageContainer.proj2 {
  background-image: url(../img/screenshots/fitz.jpg);
}
/* line 258, ../scss/roar_styles.scss */
#roarBody .panel .imageContainer.proj3 {
  background-image: url(../img/screenshots/cod_history.jpg);
}
/* line 262, ../scss/roar_styles.scss */
#roarBody .panel .imageContainer.proj4 {
  background-image: url(../img/screenshots/injustice.jpg);
}
/* line 266, ../scss/roar_styles.scss */
#roarBody .panel .imageContainer.proj5 {
  background-image: url(../img/screenshots/twentytwentyone.jpg);
}
/* line 270, ../scss/roar_styles.scss */
#roarBody .panel .imageContainer.proj6 {
  background-image: url(../img/screenshots/evil.jpg);
}
/* line 274, ../scss/roar_styles.scss */
#roarBody .panel .imageContainer.proj7 {
  background-image: url(../img/screenshots/cloud_server-busy.jpg);
}
/* line 278, ../scss/roar_styles.scss */
#roarBody .panel .imageContainer.proj8 {
  background-image: url(../img/screenshots/siansplan.jpg);
}
/* line 283, ../scss/roar_styles.scss */
#roarBody .panel .large-4 {
  padding: 4% 7% 4% 3%;
}

/**end body element**/
/**start footer**/
/* line 291, ../scss/roar_styles.scss */
#roarFooter {
  background-color: #111;
  height: 350px;
  margin-top: 4%;
  padding: 6% 0px 0px 21%;
}
/* line 297, ../scss/roar_styles.scss */
#roarFooter p.roarFooterTitle {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  color: white;
  letter-spacing: 2px;
  font-family: "effra",sans-serif;
}
/* line 306, ../scss/roar_styles.scss */
#roarFooter ul {
  list-style: none;
  text-align: right;
}
/* line 310, ../scss/roar_styles.scss */
#roarFooter ul li {
  color: white;
  font-size: 13px;
  font-weight: 100;
}
/* line 315, ../scss/roar_styles.scss */
#roarFooter ul li.clearing {
  margin-top: 20px;
}
/* line 319, ../scss/roar_styles.scss */
#roarFooter ul li.bolden {
  font-weight: 500;
  text-transform: uppercase;
}
/* line 324, ../scss/roar_styles.scss */
#roarFooter ul li.uppercase {
  text-transform: uppercase;
  font-size: 13px;
}

/**end footer**/
/**modal styles**/
/* line 338, ../scss/roar_styles.scss */
.slick-list {
  height: 500px;
  min-height: 500px;
  overflow: hidden;
}

/* line 343, ../scss/roar_styles.scss */
.reveal-modal.large, dialog.large {
  padding: 0px;
  border: none;
  height: 500px;
}
/* line 348, ../scss/roar_styles.scss */
.reveal-modal.large .large-7, dialog.large .large-7 {
  padding-left: 0px;
}
/* line 7, ../scss/roar_styles.scss */
.reveal-modal.large .heading, dialog.large .heading {
  /*font-family: "ff-meta-serif-web-pro", 'helvetica', sans-serif;*/
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 16, ../scss/roar_styles.scss */
.reveal-modal.large .skills, dialog.large .skills {
  margin-bottom: 50px;
}
/* line 354, ../scss/roar_styles.scss */
.reveal-modal.large .heading, dialog.large .heading {
  margin-top: 20%;
  font-weight: 600;
  font-family: "effra",sans-serif;
}
/* line 360, ../scss/roar_styles.scss */
.reveal-modal.large .button, dialog.large .button {
  color: black;
  border-color: black;
}
/* line 365, ../scss/roar_styles.scss */
.reveal-modal.large .slick-dots, dialog.large .slick-dots {
  display: block;
  bottom: 0px;
  right: -103%;
}
/* line 370, ../scss/roar_styles.scss */
.reveal-modal.large .slick-dots li, dialog.large .slick-dots li {
  display: block;
}

/**end modal styles**/
/***********************/
/***responsive styles***/
/***********************/
@media only screen and (max-width: 40em) {
  /* line 390, ../scss/roar_styles.scss */
  #roarHeader {
    height: auto;
  }
  /* line 393, ../scss/roar_styles.scss */
  #roarHeader img {
    width: 45%;
  }

  /* line 399, ../scss/roar_styles.scss */
  #roarLeftColumn {
    width: 100%;
    position: relative;
  }
  /* line 403, ../scss/roar_styles.scss */
  #roarLeftColumn .button {
    display: none;
  }
  /* line 407, ../scss/roar_styles.scss */
  #roarLeftColumn #logoHook {
    display: none;
  }
  /* line 411, ../scss/roar_styles.scss */
  #roarLeftColumn p {
    text-align: center;
    padding: 3% 3% 2%;
  }

  /* line 417, ../scss/roar_styles.scss */
  #roarBody {
    padding: 5% 4% 0%;
  }
  /* line 420, ../scss/roar_styles.scss */
  #roarBody .roarOverlay {
    width: 92.7%;
  }
  /* line 425, ../scss/roar_styles.scss */
  #roarBody .panel .large-4 {
    padding: 4% 4% 3%;
  }
  /* line 428, ../scss/roar_styles.scss */
  #roarBody .panel .large-4 .text-container {
    padding: 1% 3% 1%;
    background-color: white;
    margin-bottom: 5%;
  }
  /* line 433, ../scss/roar_styles.scss */
  #roarBody .panel .large-4 .text-container p {
    font-size: 13px;
  }
  /* line 439, ../scss/roar_styles.scss */
  #roarBody .panel .heading {
    margin-bottom: 6px;
  }
  /* line 443, ../scss/roar_styles.scss */
  #roarBody .panel .skills {
    margin-bottom: 25px;
  }
  /* line 447, ../scss/roar_styles.scss */
  #roarBody .panel .imageContainer {
    height: 200px;
    background-size: 200%;
  }
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 462, ../scss/roar_styles.scss */
  #roarBody {
    padding: 5% 0px 0px 0%;
  }
  /* line 466, ../scss/roar_styles.scss */
  #roarBody .panel .imageContainer {
    background-size: 100%;
  }

  /* line 472, ../scss/roar_styles.scss */
  #roarLeftColumn {
    width: 100%;
    position: relative;
    padding: 2% 8% 0%;
  }
  /* line 477, ../scss/roar_styles.scss */
  #roarLeftColumn .button {
    display: none;
  }
  /* line 481, ../scss/roar_styles.scss */
  #roarLeftColumn #logoHook {
    display: none;
  }
  /* line 485, ../scss/roar_styles.scss */
  #roarLeftColumn p {
    text-align: center;
    padding: 3% 3% 2%;
  }
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* min-width 1025px, large screens */
/* min-width 1025px, large screens */
